/* =====================
GLOBAL
===================== */


*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:Arial, Helvetica, sans-serif;

    background:#f4f6f9;

    color:#222;

}



/* =====================
NAVBAR
===================== */


.navbar{

    background:#212529;

    padding:15px 0;

}


.nav-container{

    width:85%;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}



.logo{

    color:white;

    font-size:26px;

    font-weight:bold;

    text-decoration:none;

}



.nav-links{

    display:flex;

    gap:20px;

    align-items:center;

}



.nav-links a{

    color:white;

    text-decoration:none;

}



.username{

    color:white;

    font-weight:bold;

}



.signup{

    background:#0d6efd;

    padding:9px 18px;

    border-radius:6px;

}



.logout{

    background:#dc3545;

    padding:9px 18px;

    border-radius:6px;

}



/* =====================
MAIN
===================== */


.main-container{

    width:85%;

    margin:40px auto;

}




/* =====================
FORMS
===================== */


form{

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.1);

}



input,
textarea,
select{


    width:100%;

    padding:12px;

    margin:8px 0;

    border:1px solid #ccc;

    border-radius:6px;

}



/* =====================
BUTTONS
===================== */


button,
.btn{

    padding:10px 18px;

    border:none;

    border-radius:7px;

    cursor:pointer;

}



.btn-primary{

    background:#0d6efd;

    color:white;

}




/* =====================
JOBS PAGE
===================== */


.jobs-container{

    width:90%;

    margin:auto;

}



.jobs-container h1{

    text-align:center;

    margin-bottom:40px;

}



.job-card{


    background:white;


    width:100%;


    padding:30px;


    margin-bottom:25px;


    border-radius:15px;


    border:1px solid #ddd;


    box-shadow:
    0 8px 20px rgba(0,0,0,.12);



}



.job-card:hover{

    transform:translateY(-3px);

    transition:.3s;

}



.job-card h2{

    color:#0d6efd;

    margin-top:0;

}



.job-card h4{

    color:#555;

}



.job-card p{

    line-height:1.6;

    color:#444;

}



.apply-btn{


    background:#198754;

    color:white;


    padding:12px 25px;


    border-radius:8px;


}




/* =====================
PROFILE
===================== */


.profile-image{

    width:150px;

    height:150px;

    border-radius:50%;

    object-fit:cover;

}




/* =====================
MOBILE
===================== */


@media(max-width:700px){


.nav-container{

    flex-direction:column;

    gap:15px;

}


.nav-links{

    flex-direction:column;

}


.main-container{

    width:95%;

}



}